

<%= render "layouts/errors" %>


<div class="top-container">
  <div class="inner-big">
    <div class="container">
      <div class='row'>
        <div class='col-sm-8 col-sm-offset-2 text'>
          <h1><strong>Notabl.</strong> Login</h1>
          <div class="description">
            <p>
              This is a free notetaking app make with Ruby/Rails.
              Log in to create your own notes and take them anywhere.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 form-box">
          <div class="form-top">
            <div class="form-top-left">
              <h3>Login to Notabl</h3>
                <p>Enter your Email and Password:</p>
            </div>
            <div class="form-top-right">
              <i class="fa fa-key"></i>
            </div>
            </div>
            <div class="form-bottom">



            <form role='form' action="<%= session_url %>" method="post" class='login-form'>
              <%= auth_token_input %>

              <div class='form-group' >
                <label class='sr-only' for='form-username'>Email</label>
                <input type="text" name="user[email]" class='form-username form-control' placeholder="Email..." id='form-username'>
              </div>
              <div class='form-group' >
                <label class="sr-only" for="form-password">Password</label>
                <input type="password" name="user[password]" class='form-control form-password' placeholder="Password..." id='form-password'>
              </div>

                <button type="submit" class="btn btn-default">Sign In</button>

            </form>
          </div>
        </div>
      </div>
      <div class="row">
<div class="col-sm-6 col-sm-offset-3 social-login">
  <h3>Notably new? <a href='/users/new'><strong>Sign Up!</strong></a>
  </h3>
</div>

</div>
</div>
</div>
</div>
