<h2 class='sign-in-header'>Notably</h2>

<form action="<%= users_url %>" method="post" class='sign-in-form'>
  <%= auth_token_input %>

  <input type="text" name="user[email]" value="" placeholder="Email" class='email'>

  <input type="password" name="user[password]" value="" placeholder="Password" class='password'>


  <input id='log-in-button' type="submit" value="Sign Up">

</form>

<div class="question">Already of note? <%= link_to "Sign In!", new_session_url %></div>
