.notebooks-index-header {
  padding-top: 15px;
  font-size: 24px;
  padding-left: 33px;
  padding-bottom: 14px;
  color: #4AAF51;
  text-align: left;
}



.notebooks-container{
  position: absolute;
  float: left;
  width: 25%;
  min-width: 250px;
  min-height: 100%;
  border-right: 4px solid;
  background: rgba(0,0,0,.9);
  box-shadow: 1px 0px 15px #888888;
}

.notebook-index-item{
  height: 80px;
  text-align: left;
  border-radius: 5px;
}

.notebook-index-item .title{
  font-size: 14px;
  margin-left: 24px;
  padding-top: 12px;

}


.notebook-index-item .description{
  padding-left: 60px;
  color: #BCCABC;
  width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notebook-index-item:hover{
  background-color: #91CE95;
  color: #035D03;
  border: 1px solid white;
  text-shadow: 0px 2px 4px white;
  .title {
    font-weight: 500;
  }
  .description {
    color: #035D03;
  }
}


/*new notebook component in sidebar*/

.new-notebook{
  font-size: 22px;
  width: 100%;
  padding-bottom: 5px;
  padding-top: 19px;
  padding-left: 39px;
  height: 80px;
  text-align: left;
  border-radius: 5px;
}
  .new-notebook:hover{
    background-color: #91CE95;
    color: #035D03;
    text-shadow: 0px 2px 4px white;
    border: 1px solid white;
  }

.notebook-form {
  width: 98%;
  margin: 0 1%;
  height: 150px;
  padding: 3px;
  background: white;
  border-radius: 6px;
}

  #notebook-form-title {
    font-size: 20px;
    width: 100%;
    height: 51px;
    padding-left: 4px;
    border: none;
  }

  #notebook-form-description{
    width: 100%;
    height: 51px;
    padding-left: 4px;
    border: none;

  }

  .new-notebook-buttons{
    width: 100%;
    height: 50px;
  }


      .create-notebook{
        display: inline-block;
        color: darkgray;
        font-size: 20px;
        margin: 6px 10%;
      }
        .create-notebook:hover{
          color: green;
        }

    .new-notebook-buttons .cancel{
      display: inline-block;
      color: darkgray;
      font-size: 20px;
      margin: 6px 10%;
    }
      .new-notebook-buttons .cancel:hover{
        color: red;
      }


/*star in sidebar*/

.likes-notebook-icon{
  font-size: 35px;
  width: 100%;
  height: 80px;
  padding-left: 55px;
  padding-top: 19px;
  padding-bottom: 9px;
  color: #F9D301;
  text-align: left;
  border-radius: 5px;
}

.likes-notebook-icon:hover{
  font-size: 37px;
  text-shadow: 0px 4px 4px #9A8C3E;
  background-color: #91CE95;
  border: 1px solid white;

}


/*notebook header on notes page*/
.notebook-header{
  height: 152px;
  background: rgba(0,0,0,0.1);
  border-radius: 8px;
  text-align: left;
  margin: 11px 8px 0 8px;
}

  .notebook-header .title{
    display: inline-block;
    width: 90%;
    padding-left: 24px;
    padding-top: 16px;
    font-size: 38px;
    color: #151515;
    font-weight: 400;
  }

  .notebook-header .edit{
    display: inline-block;
    width: 10%;
    text-align: center;
    color: rgba(128,128,128, 0.4);
    font-size: 17px;
    :hover {
      color: green;
    }
  }

  .notebook-header .description{
    color: #151515;
    padding-left: 24px;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 100;
  }

.update-notebook-form{
  background-color: white;
  border-radius: 8px;
  margin: 11px 8px;
  height: 186px;
}
  #update-notebook-title{
    width: 100%;
    border-radius: 8px;
    padding-left: 24px;
    margin-top: 26px;
    font-size: 38px;
    color: #151515;
    font-weight: 400;
    border: none;
  }

  #update-notebook-description{
    width: 100%;
    color: #151515;
    padding: 35px 24px;
    font-size: 18px;
    font-weight: 100;
    border: none;
  }

  .update-notebook-form p{
    display: inline-block;
    text-align: center;
    color: darkgray;
    font-size: 20px;
    margin: 4px 12%;
  }

  .update-notebook-form{
    .save:hover{
      color: green;
    }
    .cancel:hover{
      color: black;
    }
    .delete:hover{
      color: red;
    }
  }
