
.notes-container{
  float: right;
  width: 70%
}

.note-container{
  margin: 10px;
  padding: 5px;
  background: white;
}

.note-header{
  height: 30px;
}

.note-title{
  padding: 3px;
  float: left;
  font-weight: bolder;
  color: green;
}

.liked {
  padding: 3px;
  color: red;
  float: right;
}
.note-delete{
  padding: 3px;
  color: blue;
  float: right;
}
.note-body{
  white-space: pre-wrap;
  padding-top: 5px;
  padding-left: 25px;
  min-height: 90px;
}
.note-form-title{
  margin: 4px;
}
.note-form-body{
  margin: 4px;
  width: 680px;
  height: 100px;
  margin-bottom: 0px;
}
.note-form-button{
  margin: 3px;
}
