
.notebooks-index-header{
  padding-top: 15px;
  font-size: 14px;
  padding-left: 33px;
  border-bottom: 2px solid white;
  padding-bottom: 14px;
  color: #465D46;
}
.notebooks-container{
  float: left;
  width: 25%;
  min-width: 250px;
  height: 100%;
  border-right: 3px solid white;
}

.notebook-index-item{
  height: 60px;
}

.notebook-index-item .title{
  font-size: 14px;
  margin-left: 24px;
  padding-top: 12px;
}

.notebook-index-item .description{
  padding-left: 60px;
    color: #BCCABC;
}

.notebook-index-item:hover{
  background-color: #ECEAEA;
  color: #035D03;
  text-shadow: 0px 2px 4px white;
  border: 1px solid white;
}

.notebook-title{
}

.notebook-description{
  color: grey;
}
.notebook-form-box{
  min-height: 50px;
  height: auto;
  min-width: 200px;
  margin-left: 5px;
  margin-right: auto;
}

.new-notebook{
  font-size: 18px;
  width: 70px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-left: 39px;
  margin-top: 11px;
}
.notebook-form{
  width: inherit;
  height: 90px;
  padding: 5px;
  margin-left: 2.5px;
  background-color: white;
}
.new-notebook:hover{
  color: green;
}
.notebook-form .cancel{
  float: right;
}
.create-notebook{
  float: right;
}
.notebook-form-title {
  font-size: 20px;
  padding: 2px;
  margin: 5px;
  width: 250px;
  height: 22px;
}
.notebook-form-description{
  padding: 2px;
  margin: 5px;
  min-width: 272px;
  height: 50px;
}
.notebook-button{
  color: #A9A9A9;
  float: right;
  width: 50px;
  display: block;
  margin: 1px;
}

.cancel{
  padding: 2px;
  margin: 3px;
}

.cancel:hover{
  color: red;
}
.create-notebook{
  padding: 2px;
  margin: 3px;
}

.create-notebook:hover{
  color: green;
}

.likes-notebook-icon{
  font-size: 35px;
  width: 36px;
  height: 34px;
  margin-left: 55px;
  margin-top: 10px;
  margin-bottom: 15px;
  color: #F9D301;
}
.likes-notebook-icon:hover{
  font-size: 37px;
  text-shadow: 0px 4px 4px #9A8C3E;
}


/*notebook header on notes page*/
.notebook-header{
  height: 93px;
  border-bottom: 2px solid white;
  background: #BCCABC;
}

.notebook-header .title{
  padding-left: 24px;
  padding-top: 16px;
  font-size: 18px;
  color: #1A5D1A;
}

.notebook-header .description{
  color: #EAFFEA;
  padding-left: 24px;
  padding-top: 10px;
  font-size: 13px;
}
