
.notes-container{
  float: right;
  width: 75%
}

.note-container{
  background: rgba(0, 128, 0, 0.07);
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}

.note-header{
  height: 43px;
}

.note-title{
  white-space: pre-wrap;
  padding-left: 21px;
  float: left;
  font-size: 17px;
  color: #465D46;
  padding-top: 11px;
}

.star {
  padding-top: 13px;
  padding-left: 13px;
  color: #F9D301;
  float: left;
  font-size: 16px;
}
.note-delete{
  padding-right: 16px;
  padding-top: 17px;
  color: #961D1D;
  float: right;
  font-size: 12px;
}
.note-body{
  white-space: pre-wrap;
  padding-left: 20px;
  padding-bottom: 20px;
  min-height: 95px;
  font-size: larger;
}

.note-form-title{
  margin: 4px;
}
.note-form-body{
  margin: 4px;
  width: 680px;
  height: 100px;
  margin-bottom: 0px;
}
.note-form-button{
  margin: 3px;
}

.note-form-closed{
  height: 43px;
  padding: 12px;
  font-size: 17px;
  background: #465D46;
  border-bottom: 2px solid white;
  padding-left: 37px;
  color: white;
}

.new-note{

}

.note-form-container{
  background-color: white;
  margin: 10px;
  padding: 5px;
  width: inherit;
}

.note-form .canel{
  float: right;
}
