.notes-container{
  float: right;
  width: 75%
}

.note-container{
  background: rgb(253, 253, 253);
  border: 2px solid;
  margin: 10px 8px 13px;
  border-radius: 8px;
}

.note-header{
  height: 43px;
  text-align: left;
}

.note-title{
  white-space: pre-wrap;
  padding-left: 21px;
  float: left;
  font-size: 18px;
  font-weight: 400;
  color: #465D46;
  padding-top: 11px;
}

.star {
  padding-top: 10px;
  padding-left: 13px;
  color: #F9D301;
  float: left;
  font-size: 16px;
}
.note-delete{
  padding-right: 16px;
  padding-top: 10px;
  color: #961D1D;
  float: right;
  font-size: 13px;
}

.note-edit{
  padding-right: 16px;
  padding-top: 10px;
  color: grey;
  float: right;
  font-size: 13px;
}

.note-edit:hover{
  color: green;
}
.note-body{
  white-space: pre-wrap;
  padding-left: 20px;
  padding-bottom: 20px;
  min-height: 115px;
  text-align: left;
}



.note-form-closed{
  height: 50px;
  line-height: 46px;
  font-size: 19px;
  background: #4AAF51;
  padding-left: 37px;
  color: white;
  text-align: left;
  font-weight: 400;
  border: 3px solid;
  border-radius: 25px;
  margin: 8px;
}

.note-form-closed:hover{
  background: #51DC5B
}




  .note-form-buttons{
    display: inline-block;
    width: 25%;
  }

    .note-form-buttons p{
      display: inline-block;
      font-size: 15px;
      color: lightgrey;
      width: 15px;
      margin-left: 20%;
    }

    .note-form-buttons .cancel:hover{
      color: red;
    }

    .note-form-buttons .create-note:hover{
      color: green;
    }
