<!DOCTYPE html>
<html>
<head>
  <title>Notabl</title>


  <!-- awesome fonts -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">


  <%= stylesheet_link_tag    'application', media: 'all'%>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
